@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.displayContent{
  display: flex;        
} 

#content--icon{
  display: flex;
}

#sidebarItems{
  padding-left: 10px;
}
