@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

#displayContent{
  display: flex;        
} 

#contentIcon{
  display: flex;
}

#sidebarItems{
  padding-left: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


