@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

#displayContent{
  display: flex;        
} 

#contentIcon{
  display: flex;
}

#sidebarItems{
  padding-left: 10px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

#error-page > h1{
  font-size: 6rem;
}

#error-page > p{
  font-size: 3.75rem;
}

.logIn{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.logIn > h2{
  font-size: 4rem;
  padding-top: 2rem;
}

.logIn > h5{
  font-size: 2rem;
  padding-top: 1.5rem;
}

Form{
  width: 20rem;
  padding-top: 2rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

